data/raw/bd_matricula_sector_estatal_2021_2025.xlsx filter=lfs diff=lfs merge=lfs -text
data/processed/conare_matricula_limpio.csv filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
